@import '../Variables.scss';

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    &__collapse {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 86.11%;
      max-width: 1240px;
    }
  }
