@import '../Variables.scss';

.error {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: $main-color;
    margin: 100px 0 100px;
  
    h1 {
      font-size: 288px;
      margin: 0;
    }
  
    p {
      font-size: 36px;
    }
  
    a {
      margin-top: 50px;
      font-size: 18px;
      color: black;
      text-decoration: underline;
    }

    br {
      display: none;
    }

    @media (max-width: 768px) {
      height: 255px;

      h1 {
        font-size: 96px;
      }

      p {
        font-size: 18px;
      }

      a {
        font-size: 14px;
      }

      br {
        display: block;
      }
    }
  }
