@import '../Variables.scss';

.home {
    @extend %flex-column-center;
    justify-content: center;
    width: 100%;
  }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 86.11%;
  max-width: 1240px;
  background-color: #F6F6F6;
  border-radius: 10px;
  padding: 50px;
  box-sizing: border-box;

  a {
    text-decoration: none;
  }

  @media (max-width: 768px) {
    background-color: transparent;
    width: 86.11%;
    min-width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 30px;

    a {
      width: 100%;
      max-width: 100%;
    }
  }
}
