@import '../Variables.scss';

.banner {
    position: relative;
    width: 86.11%;
    max-width: 1240px;
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 25px;
    margin: 50px 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.5);
    }
    
    p {
      position: absolute;
      color: white;
      font-size: 48px;
      font-weight: bold;
      text-align: center;
    }

    br {
      display: none;
    }

    @media (max-width: 768px) {
      width: 86.11%;
      min-width: 335px;
      height: 111px;
      justify-content: flex-start;

      p {
        font-size: 24px;
        text-align: left;
        padding-left: 30px;
      }

      br {
        display: block;
      }
    }
  }
