@import '../Variables.scss';

.collapse {
    overflow: hidden;
    width: 1020px;
    margin-bottom: 30px;
  
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $main-color;
      cursor: pointer;
      color: white;
      padding: 10px;
      border-radius: 10px;
  
      h2{
        margin: 0;
      }
    }
  
    &-icon {
      transition: transform 0.3s;
  
      &.open {
      transform: rotate(180deg);
      }
    }
  
    &-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
      text-align: left;
      max-width: 95%;
      margin: auto;
      word-wrap: break-word;
  
      &.open {
        max-height: 500px;
        transition: max-height 0.3s ease-in;
      }
    }
  }
