@import '../Variables.scss';

.collapse {
    width: 82.5%;
    margin-bottom: 30px;
  
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $main-color;
      cursor: pointer;
      color: white;
      padding: 10px;
      border-radius: 10px;
      box-sizing: border-box;
      height: 52px;
  
      h2{
        margin: 0;
        font-size: 24px;
        font-weight: bold;
      }
    }
  
    &__icon {
      transition: transform 0.3s;
  
      &.open {
      transform: rotate(180deg);
      }
    }
  
    &__content {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
      text-align: left;
      max-width: 95%;
      margin: auto;
      word-wrap: break-word;
  
      &.open {
        max-height: 500px;
        transition: max-height 0.3s ease-in;
      }
    }

    @media (max-width: 768px) {
      width: 86.11%;
      min-width: 335px;
      margin-bottom: 20px;

      &__title {
        height: 30px;
        
        h2{
          font-size: 13px;
        }
      }

      &__content {
        font-size: 12px;
      }
    }
  }
