@import '../Variables.scss';

header {
    @extend %flex-between-center;
    padding: 20px;
    
    img {
      width: 150px;
    }
  
    nav {
      display: flex;
      gap: 20px;
  
      .active-link {
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
  
    a {
      text-decoration: none;
      color: black;
      font-size: 20px;
    }
  }
