@import '../Variables.scss';

.infos {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 86.11%;
    max-width: 1240px;

  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    
    h1 {
      color: $main-color;
      font-size: 36px;
      font-weight: normal;
      margin: 10px 0;
      text-align: left;
    }

    p {
      margin-top: 0;
      font-size: 18px;
    }
  }

  &__tags {

    span {
      background-color: $main-color;
      color: white;
      padding: 5px 10px;
      border-radius: 10px;
      margin-right: 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    max-width: 25%;
    justify-content: space-between;
  }

  &__host {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    p {
      font-size: 18px;
      color: $main-color;
      white-space: pre-wrap;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }

  &__collapse {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    max-width: 1240px;
    gap: 50px;

    h2 {
      font-size: 18px;
      font-weight: bold;
    }
    
    li {
    list-style-type: none;
    }
  }

  @media (max-width: 768px) {
    min-width: 335px;

    &__main {
      flex-direction: column;
      margin-bottom: 0;
    }

    &__header {
      margin-bottom: 10px;
    }

    &__title {

      h1 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }

    &__details {
      flex-direction: row-reverse;
      max-width: 100%;
      align-items: center;
    }

    &__host {

      p {
        font-size: 12px;
      }

      img {
        width: 32px;
        height: 32px;
      }
    }

    &__collapse {
      flex-direction: column;
      align-items: center;
      gap: 0px;

      .collapse {
        width: 100%;
      }
    }
  }
}
