@import '../Variables.scss';

.rating {
    display: flex;
    gap: 18px;
}

@media (max-width: 768px) {

    .rating {
        gap: 8px;
    }

    .star {
        width: 13px;
        height: 13px;
    }
}
